*,
::after,
::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
font-family: 'Varela Round', sans-serif; 
font-weight: bold;
background-color: aqua;
}
    

 .calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 90px);
    border-radius: 12%;



}
.calculator button{
    cursor: pointer;
    font-size: 35px;
    border: black solid;
    box-shadow: green;
    border-radius: 10%;
    background-color: rgba(128, 128, 128, 0.816);
    
    
}

.space{
    grid-column: span 2;
}
.display{
    grid-column: 1 / -1;
    background-color: yellow;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    border-radius: 10%;
}
.display .top-output{
    font-size: 30px;
}
.display .final-output{
    font-size: 50px;
}
#btn:hover {
    background-color: green;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@100&family=Varela+Round&display=swap');